<html>
<head>
    <title> BlackBucks Reference Client</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_style.css') }}">
</head>
    <body>
        <div id="page" class="container">
            <div id="header">
                <div id="logo">
                    <img src="{{ url_for('static', filename='img/letter-b-logo.jpg') }}" alt="" width="200px" height="100px" />
                    <h1>
                        <a href="#">BlackBucks</a>
                    </h1>
                    <h3>BlackCard</h3>
                    <br>
                    The Official Web Based Wallet for BlackBucks
                </div>
                <div id="menu">
                    <ul>
                        <li class="current_page_item">
                            <a href="{{ url_for('create_transaction') }}" accesskey="1" title="">Send</a>
                        </li>
                        <li>
                            <a href="{{ url_for('chain') }}" accesskey="2" title="">BlockChain</a>
                        </li>
                        <li>
                            <a href="#" accesskey="3" title="">Peers</a>
                        </li>
                        <li>
                            <a href="#" accesskey="4" title="">Careers</a>
                        </li>
                        <li>
                            <a href="#" accesskey="5" title="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="welcome">
                    <div class="title">
                        <span id="address">
                            <strong>{{ public_address }}</strong>
                        </span>
                        <br>
                        <span class="byline">Your current balance is: {{ balance }} BlackBucks</span>
                    </div>
                </div>
                <div id="featured">
                    <div class="title">
                        <h2>Your Transaction History</h2>
                        <hr width="25%" />
                    </div>
                    <ul class="style1">
                        {% for t in transactions %}
                            <li class="first">
                                <p class="date">
                                    <b>
                                        {% set time = t['time'].split(" ") %}
                                        {{ time[0] }}
                                        {{ time[1] }}
                                    </b>                                        
                                </p>
                                {% set longTime = time[0]+" "+time[1]+", "+time[2]+" at "+time[3]+":"+time[4]+":"+time[5] %}
                                <h3><strong>Official Transaction Time:</strong> {{ longTime }}</h3>
                                <p>
                                    <span class="tinfo"><strong>Block Number:</strong> {{ t['block_number'] }}</span><br>
                                    <span class="tinfo"><strong>Origin:      </strong> {{ t['origin'] }}</span><br>
                                    <span class="tinfo"><strong>Destination: </strong> {{ t['destination'] }}</span><br>
                                    <span class="tinfo"><strong>Amount:      </strong> {{ t['amount'] }} BlackBucks</span><br>
                                    <span class="tinfo"><strong>Hash:        </strong> {{ t['tx_hash'] }}</span><br>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>