<html>
<head>
    <title> BlackBucks Login Page </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_style.css') }}">
</head>
    <body>
        <div class="login-box">
            <div class="headers">
                <h3> Welcome to BlackCard</h3>
                <h5>The official wallet for BlackBucks</h5>
            </div>
            <form action="/" method="POST">
                <span style="font-size: 12px">{{ err }}</span><br>
                Your Public Key File<span style="width:10%;"></span><input name="public" type="file">
                Your Private Key File<span style="width:10%;"></span><input name="private" type="file">
                
                
                <!--
                <textarea type="text" name="public" placeholder="Public Key">
                <textarea type="password" name="private" placeholder="Private Key">
                -->
                <input type="submit" name="submit" value="Login">
                <a href="{{ url_for('createNewKeys') }}">Create a New Wallet</a>    
            </form>    
        </div>
    </body>

</html>